@model Controle.Cursos.Models.Turma

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Turma</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="SolicitacaoPartial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CursoId" class="control-label">Curso</label>
                <select asp-for="CursoId" onchange="this.form.submit()" class="form-control" 
                    asp-items="@(new SelectList(@ViewBag.Cursos, "Id", "Nome"))">
                 </select>
                <span asp-validation-for="CursoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @{
            //Html.RenderPartial("_SolicitacaoPartial");
            Html.RenderPartial("_SolicitacaoPartial", (IEnumerable<Solicitacao>)ViewBag.Solicitacoes);
        }

    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
